.projectContainer{
    border: .75px solid rgba(252, 252, 252 , .05);
    backdrop-filter: blur(0px);
    background: var(--gradient7);
    padding: 18px;
}

.projectHeader{
    border: .75px solid rgb(252 252 252 / 5%);
    backdrop-filter: blur(30px);
    background: var(--gradient8);
    padding: 10px;
}

.projectHeaderContent{
    width: 100px;
    text-indent: 1cap;
    background: var(--gradient2);
    border: .75px solid rgb(252 252 252 / 5%);
}

.projectHeaderContent p{
    margin: 8px 0;
}

.projectCard{
    background: var(--gradient9);
    border: .75px solid rgba(252, 252, 252, .05);
    margin: 18px 0;
    padding: 12px;
}

.projectContent{
    display: flex;
    justify-content: space-between;
}

.aboutProject{
    width: 60%;
    position: relative;
}

.aboutProject > h3{
    font-size: 2.5rem;
    margin: 8px 0;
}

.aboutProject > p{
    width: 100%;
    height: 40%;
    overflow: auto;
    text-align: justify;
    line-height: 24px;
    overflow: auto;
    color: rgba(245, 245, 245, 0.5);
}

.projectContent > div{
    padding: 12px;
}

.projectLinks{
    display: flex;
    justify-content: end;
}

.projectLinks > div{
    width: 150px;
    height: 55px;
}

.projectLinks > div i{
    font-size: 2rem;
    margin: 0px 8px;
    position: relative;
    top: 4px;
}

.projectLinks div a{
    text-decoration: none;
    color: white;
    line-height: 55px;
    margin: 0px 12px;
    text-align: center;
    font-size: 1.2rem;
}

.projectLinks div a:hover, .projectLinks div i{
    color: var(--primary);
}


.projectGif{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectViewer{
    width: 330px;
    height: 244px;
    background: url('../../assets//projects/desktopFrame.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
    filter: drop-shadow(0px 5px 34px rgba(225,225, 225, 0.3));
}

.projectViewer img{
    position: absolute;
    top: 52px;
    left: 46px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width: 238px;
    height: 132px;
    z-index: -1;
}

@media screen and (max-width: 900px) {
    .projectContainer {
        background: none;
        border: none;
    }
    .projectCard{
        align-items: center;
    }
    .projectContent{
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    .aboutProject{
        width: auto;
    }
    .projectGif{
        justify-content: start;
    }
    .projectLinks{
        position: relative;
        justify-content: center;
    }
    .aboutProject > h3{
        font-size: 2rem;
        margin: 8px 0;
    }
}


