aside {
    width: fit-content;
    height: auto;
    padding: 10px 15px;
}

.asideContainer{
    width: 125px;
    width: 9.5vw;
    height: 85vh;
    padding: 18px;
    backdrop-filter: blur(0px);
    background: var(--gradient7);
    border: .75px solid rgba(252, 252, 252, .05);
}

.asideContainer ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.asideContainer ul li{
    box-sizing: border-box;
    margin: 4px;
    width: 90%;
    height: 80px;
    text-align: center;
    border: .75px solid rgb(252 252 252 / 5%);
    background: var(--gradient5);
    position: relative;
}

.asideContainer ul li i{
    cursor: pointer;
    font-size: 1.6rem;
    line-height: 80px;
    color: #00aaff;
}

.asideContainer ul li i:hover{
    color: #66ccff;
}

.asideContainer ul li i::after{
    width: 70px;
    height: 20px;
    line-height: 20px;
    content: "Hire Me";
    position: absolute;
    top: 20px;
    left: 60px;
    color: white;
    border: .75px solid rgb(252 252 252 / 5%);
    background: linear-gradient(-90deg, rgba(0, 170, 255, 0.5) 0%, rgba(0, 170, 255, 0.5) 100%);
    border-radius: 18px;
    opacity: 0; 
    transition: opacity 0.3s;
    font-size: 0.5rem;
}

.asideContainer ul li:nth-child(1) i::after{
    content: "Hire Me";
}

.asideContainer ul li:nth-child(2) i::after{
    content: "Contact me";
}

.asideContainer ul li:nth-child(3) i::after{
    content: "Under construction";
    width: 120px;
}

.asideContainer ul li:nth-child(n + 4) i::after{
    visibility: hidden;
}

.asideContainer ul li i:hover::after{
    opacity: 1; 
}

@media screen and (max-width: 1000px) {
    .asideContainer ul li {
        border: none;
        background: none;
    }
}

@media screen and (max-width: 700px) {
    aside{
        display: none;
    }
}