.resume{
    width: 100%;
    height: auto;
}

.resume embed{
    width: 100%;
    height: 83vh;
    background-color: transparent;
}

.resumeContainerM{
    display: none;
}

.resumeContainerM{
    margin-top: 30px;
}

.resumeContainerM img{
    width: 90%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.downloadButton{
    justify-content: center;
    display: flex;
}

.downloadButton .downloadButton{
    display: block;
    margin: 20px 0;
    width: 250px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background: var(--gradient2);
    text-decoration: none;
    color: var(--primary);
}

.downloadButton i{
    color: var(--primary);
    margin: 0 12px;
}

@media screen and (max-width: 700px) {
    .resumeContainerD{
        display: none;
    }
    .resumeContainerM{
        display: block;
    }
}